title: Scribd Technology
email: talent@scribd.com
description: >- # this means to ignore newlines until "baseurl:"
  Scribd technology builds and delivers one of the world's largest libraries,
  bringing the best books, audiobooks, and journalism to millions of people
  around the world.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://tech.scribd.com" # the base hostname & protocol for your site, e.g. http://example.com
google_analytics: 'UA-443684-30'
featured_series: 'airflow-series'

# GitHub Metadata
# Used for "improve this page" link
branch: master

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge

twitter_username: scribdtech
facebook_username: scribd
linkedin_username: scribd
github_username:  scribd

# Assets
sass:
    sass_dir: assets/_sass

# Blog settings
permalink: "/blog/:year/:title:output_ext"
date_format: "%B %-d, %Y"
paginate: 12
paginate_path: "/blog/page:num/"
post-id: "#posts"

# Build settings
plugins:
  - jekyll-feed
  - jekyll-paginate

# Blog categories
collections:
  category:
    output: true

defaults:
  -
    scope:
      path: ""
      type: category
    values:
      layout: "category"
