---
layout: page
title: Careers
permalink: /careers/

hero:
  theme: midnight
  label: Careers
  title: Join the team!
---

<section class="pt-0 section-container container-offset">

    <img class="hero-overlap rounded"
        srcset="{{ '/assets/images/general/phone-tablet-reading.jpg' | relative_url }},
                {{ '/assets/images/general/phone-tablet-reading@2x.jpg' | relative_url }} 2x"
           src="{{ '/assets/images/general/phone-tablet-reading.jpg' | relative_url }}"
        alt="two people sitting around a sofa reading on a computer and tablet">

    <div class="text-length-md body-lg">
        <h2 class="mt-3">Help us build the largest and most accessible library connecting storytellers with their audience.</h2>
        <p>Our readers are on a mission to become their best selves, and so are we. We’re not afraid to take risks because we know that — win or lose — we’ll learn from them.</p>
        <p>If you’re a talented team player and want to work somewhere where your input matters, we’d love to talk with you.</p>

        <a href="#open-positions" class="btn btn-secondary btn-icon-down">
            Open Positions
            <svg class="svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#arrow-down' | relative_url }}"></use></svg>
        </a>
    </div>
</section>


<section class="bg-slate-100">
    <div class="section-container pl-3 pr-3 text-center">
        <hgroup class="m-auto text-length-lg">
            <h2 id="why-scribd" class="section-heading text-plum">Why Scribd</h2>
            <h3 class="h2 mb-3">We believe that the secret to making the perfect product is making Scribd the perfect place to work.</h3>
        </hgroup>

        <div class="photo-grid">
            <img class="rounded"
                srcset="{{ '/assets/images/general/team-photo-1.jpg' | relative_url }},
                        {{ '/assets/images/general/team-photo-1@2x.jpg' | relative_url }} 2x"
                   src="{{ '/assets/images/general/team-photo-1.jpg' | relative_url }}" role="presentation" alt="">
            <img class="rounded"
                srcset="{{ '/assets/images/general/team-photo-2.jpg' | relative_url }},
                        {{ '/assets/images/general/team-photo-2@2x.jpg' | relative_url }} 2x"
                   src="{{ '/assets/images/general/team-photo-2.jpg' | relative_url }}" role="presentation" alt="">
            <img class="rounded"
                srcset="{{ '/assets/images/general/team-photo-3.jpg' | relative_url }},
                        {{ '/assets/images/general/team-photo-3@2x.jpg' | relative_url }} 2x"
                   src="{{ '/assets/images/general/team-photo-3.jpg' | relative_url }}" role="presentation" alt="">
            <img class="rounded"
                srcset="{{ '/assets/images/general/team-photo-4.jpg' | relative_url }},
                        {{ '/assets/images/general/team-photo-4@2x.jpg' | relative_url }} 2x"
                   src="{{ '/assets/images/general/team-photo-4.jpg' | relative_url }}" role="presentation" alt="">
        </div>
    </div>
</section>

<section class="section-container">
    <hgroup class="m-auto text-center text-length-lg">
        <h2 id="benefits" class="section-heading text-teal">Benefits</h2>
        <h3 class="h2">Our team takes great care of us, in return, we take great care of them.</h3>
    </hgroup>

    <ul class="text-block-grid mt-5">
        {% for item in site.data.benefits %}
            <li class="text-block-grid__item">
                <h5>{{ item.name }}</h5>
                <p class="mb-0 text-muted">{{ item.description }}</p>
            </li>
        {% endfor %}
    </ul>
</section>

<section class="bg-slate-100">
    <div class="section-container text-center">
        <hgroup class="m-auto text-length-lg">
            <h2 id="codebase" class="section-heading text-muted">Multi-Faceted Codebase</h2>
            <h3 class="h2">Work with a variety of languages and libraries.</h3>
        </hgroup>
        <p class="m-auto text-length-md body-lg">We continuously deploy code to a wide range of devices and servers. Here are a few of the languages and libraries we use to build Scribd.</p>

        <ul class="icon-grid mt-5">
            {% for item in site.data.tech %}
                <li class="icon-grid__item">
                    <img class="mb-2" src="{{ item.logo }}" role="presentation" alt="">
                    <h5>{{ item.name }}</h5>
                    <p class="mb-0 fs-md text-muted monospace">{{ item.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="section-container">
    <hgroup class="m-auto text-length-lg text-center">
        <h2 id="our-structure" class="section-heading text-teal">Our Structure</h2>
        <h3 class="h2 mb-4">We divide and conquer in focused teams.</h3>
    </hgroup>

    <div class="m-auto text-length-xl" data-aria-accordion data-multi data-transition data-default="none">
        {% for item in site.data.team-structure %}
            <h3 id="team-{{ item.team | replace: ' ', '-' | downcase }}" class="h5" data-aria-accordion-heading>{{ item.team }}</h3>
            <div data-aria-accordion-panel>
                <p class="text-length-md">{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>

</section>

<section class="bg-slate-100">
    <div id="open-positions" class="section-container">
        <hgroup class="m-auto text-length-lg text-center">
            <h2 class="section-heading text-plum">Open Positions</h2>
            <h3 class="h2 mb-4">We’re actively hiring for these roles.</h3>
        </hgroup>

        <noscript>
            <div class="text-center monospace fs-md text-muted">
                <p>We normally display jobs here with JavaScript.</p>
                <p>We think it's cool that you have disabled JavaScript to view this page, but you might be missing out :)</p>
            </div>
        </noscript>
    </div>
</section>

<script type="text/javascript">
<!--
    /*
        * Only attempt to load the jobs after the page has loaded and
        * our external script is present
        */
    window.onload = () => {
        const elem = document.getElementById('open-positions');
        fetchJobs().then((jobs) => {
            Object.keys(jobs).filter(t => jobs[t]).sort().forEach((team) => {
                const positions = jobs[team];

                const positionsCount = positions.length > 1 ? `${positions.length} Positions` : `${positions.length} Position`;

                const teamDiv = document.createElement('div');
                teamDiv.className = 'm-auto text-length-xl pb-6';

                teamDiv.innerHTML = `
                    <h3 class="mb-3">${team}
                        <span class="hidden-sm-down mt-1 fs-md fw-normal float-right text-muted monospace">${positionsCount}</span>
                    </h3>
                `;

                const ul = document.createElement('ul');
                ul.className = 'action-list';

                positions.forEach((job) => {
                    const li = document.createElement('li');
                    li.className = 'action-cell'
                    li.innerHTML = `
                    <div class="action-cell__body">
                        <h5 class="mb-1">
                            <a href="${job.jobUrl}" target="_blank" class="action-cell__link">
                            ${job.title}
                                <svg class="hidden-md-up fs-md svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#arrow-external' | relative_url }}"></use></svg>
                            </a>
                        </h5>
                        <p class="mb-0 fs-md text-truncate text-muted monospace">${job.location || ''}</p>
                    </div>
                    <a href="${job.jobUrl}" target="_blank" class="hidden-md-down btn btn-primary btn-icon-external" tabindex="-1" aria-hidden="true">View Job
                        <svg class="svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#arrow-external' | relative_url }}"></use></svg>
                    </a>
                    `;
                    ul.appendChild(li);
                });

                teamDiv.appendChild(ul);
                elem.appendChild(teamDiv);

            });
        });
    }
-->
</script>
