{% assign hero = page.hero %}
<section class="hero theme-{{ hero.theme | default: "white" }}">
    <div class="hero__container container container-offset">

        {% assign hero = page.hero %}
        <header class="hero__header">

            {% if hero.label %}
                <h1 class="hero__section-heading">{{ hero.label }}</h1>
            {% endif %}

            {% if hero.title %}
                <h2 class="hero__title">{{ hero.title }}</h2>
            {% endif %}

            {% if hero.title %}
                <p class="hero__body m-0">{{ hero.body }}</p>
            {% endif %}
        </header>

    </div>
    {% include logo-texture.html %}
</section>
