<div class="post-sidebar fs-md monospace">
    <!-- Tags -->
    {%- if page.tags.size > 0 -%}
    <ul class="post-sidebar__tag-list">
        <li class="post-sidebar__tag-label fw-bold">Tag {%- if page.tags.size > 1 -%}s{%- endif -%}: </li>
        {% for tag in page.tags %}
        <li class="post-sidebar__tags"><a href="/tag/{{ tag }}/">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {%- endif -%}

    <!-- Sharing / RSS -->
    <ul class="post-sidebar__action-list list--inline">

        {% assign title = page.title | truncate: 280 | url_encode %}
        {% assign site_url =  site.url | url_encode %}
        {% assign page_url =  page.url | url_encode %}

        <!-- LinkedIn -->
        <li>
            <a class="post-sidebar__action-link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site_url }}{{ page_url }}&title={{ title }}&source={{site.url}}" rel="noopener" target="_blank">
                <svg class="svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#linkedin' | relative_url }}"></use></svg>
                <span class="visually-hidden">Share on LinkedIn</span>
            </a>
        </li>

        <!-- RSS -->
        <li>
            <a class="post-sidebar__action-link" href="{{ "/feed.xml" | relative_url }}">
                <svg class="svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#rss' | relative_url }}"></use></svg>
                <span class="visually-hidden">RSS Feed</span>
            </a>
        </li>
    </ul>
</div>
