////////////////////
// Spacing
////////////////////

$spacer: 1em;

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 2),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 6)
);

$xy-border: (
    top: t,
    bottom: b,
    left: l,
    right: r
);

@each $prop, $letter in (margin: m, padding: p) {
    .#{$letter}-#{0} {
        #{$prop}: 0;
    }

    @each $direction, $d in $xy-border {
        @each $unit, $em in $spacers {
            .#{$letter}#{$d}-#{$unit} {
                #{$prop}-#{$direction}: #{$em};
            }
        }
    }
}
