////////////////////
// Color Modifiers
////////////////////

// Grayscale
.text-white { color: $white }
.text-muted { color: darken($slate-600, 5%) }
.text-slate-700 { color: $slate-700 }

// Brand
.text-teal { color: $teal }
.text-cabernet { color: $cabernet }
.text-plum { color: $plum }

////////////////////
// Font Size
////////////////////

.fs-sm {
    font-size: rem-calc(12px);
}

.fs-md {
    font-size: rem-calc(14px);
}

.fs-lg {
    font-size: rem-calc(18px);
}

.body-lg {
    font-size: 1rem;

    @media (min-width: $bp-md) {
        font-size: rem-calc(18px);
    }
}

////////////////////
// Font Weights
////////////////////

.fw-normal {
    font-weight: normal !important;
}

.fw-bold {
    font-weight: 700 !important;
}

////////////////////
// Alingment
////////////////////

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.float-right {float: right;}
.float-left {float: left;}

////////////////////
// Max-width
////////////////////

.text-length-xl {
    max-width: rem-calc(875px);
}

.text-length-lg {
    max-width: rem-calc(750px);
}

.text-length-md {
    max-width: rem-calc(550px);
}

////////////////////
// Truncation
////////////////////

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.clamp-2 {
    @include line-clamp(2);
}

.clamp-3 {
    @include line-clamp(3);
}

////////////////////
// List
////////////////////

.list--inline {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline;
    }
}

.list--plain {
    list-style: none;
    margin: 0;
    padding: 0;
}
