// Smooth anchor scrolling unless .no-smooth-scroll is present
html:not(.no-smooth-scroll) {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto; // turn off if user prefers reduced motion
    }
}

body {
    overflow-x: hidden; // for animation transforms
}

img {
    max-width: 100%;
    height: auto;
}

// Global box-sizing
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Remove tap highlight on mobile
a {
    -webkit-tap-highlight-color: transparent;
}
