////////////////////
// Primary Palette
////////////////////

$cabernet-dark: #5A1D41;
$cabernet: #6A244D;
$cabernet-light: #7F1652;

$midnight-dark: #001927;
$midnight: #00293F;
$midnight-light: #003451;

$teal-dark: #0D6069;
$teal: #1E7B85;
$teal-light: #509BA8;

////////////////////
// Secondary Palette
////////////////////

$seafoam-dark: #017F70;
$seafoam: #02A793;
$seafoam-light: #02B7A1;

$plum-dark: #87064B;
$plum: #A9085E;
$plum-light: #C20067;

$yellow-dark: #E47B01;
$yellow: #ED8F02;
$yellow-light: #F0A534;

////////////////////
// Grayscale
////////////////////

$slate-800: #000514;
$slate-700: #1C263D;
$slate-600: #57617A;
$slate-300: #CCD4E8;
$slate-200: #E9EDF8;
$slate-100: #F8F9FD;
$white: #fff;
