////////////////////
// Primary Palette
////////////////////

$cabernet-dark: #5A1D41;
$cabernet: #6A244D;
$cabernet-light: #7F1652;

$midnight-dark: #001927;
$midnight: #00293F;
$midnight-light: #003451;

$teal-dark: #0D6069;
$teal: #1E7B85;
$teal-light: #509BA8;

////////////////////
// Secondary Palette
////////////////////

$seafoam-dark: #017F70;
$seafoam: #02A793;
$seafoam-light: #02B7A1;

$plum-dark: #87064B;
$plum: #A9085E;
$plum-light: #C20067;

$yellow-dark: #E47B01;
$yellow: #ED8F02;
$yellow-light: #F0A534;

////////////////////
// Grayscale
////////////////////

$slate-800: #000514;
$slate-700: #1C263D;
$slate-600: #57617A;
$slate-300: #CCD4E8;
$slate-200: #E9EDF8;
$slate-100: #F8F9FD;
$white: #fff;

////////////////////
// Color Themes
////////////////////

.theme-white {
    --theme-primary-color: #{$white};
    --theme-secondary-color: var(--theme-primary-color);
    --theme-border-color: #{$slate-200};
    --theme-accent-color: #{$teal};
    --theme-text-color: #{$slate-800};
}

.theme-teal {
    --theme-primary-color: #{$teal};
    --theme-secondary-color: #{$teal-dark};
    --theme-border-color: #{$teal};
    --theme-accent-color: #{$white};
    --theme-text-color: var(--theme-accent-color);
}

.theme-yellow {
    --theme-primary-color: #{$yellow-light};
    --theme-secondary-color: #{$yellow-dark};
    --theme-border-color: #{$yellow-light};
    --theme-accent-color: #{$slate-800};
    --theme-text-color: var(--theme-accent-color);
}

.theme-cabernet {
    --theme-primary-color: #{$cabernet-light};
    --theme-secondary-color: #{$cabernet-dark};
    --theme-border-color: #{$cabernet-light};
    --theme-accent-color: #{$white};
    --theme-text-color: var(--theme-accent-color);
}

.theme-midnight {
    --theme-primary-color: #{$midnight-light};
    --theme-secondary-color: #{$midnight-dark};
    --theme-border-color: #{$midnight-light};
    --theme-accent-color: #{$white};
    --theme-text-color: var(--theme-accent-color);
}

.theme-slate {
    --theme-primary-color: #{$slate-700};
    --theme-secondary-color: #{$slate-800};
    --theme-border-color: #{$slate-700};
    --theme-accent-color: #{$white};
    --theme-text-color: var(--theme-accent-color);
}
