////////////////////
// Color Modifiers
////////////////////

.text-white {color: $white}

////////////////////
// Font Size
////////////////////

.fs-md {
    font-size: rem-calc(14px);
}

////////////////////
// Links
////////////////////

.no-underline {
    text-decoration: none;
}

////////////////////
// List
////////////////////

.list--inline {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline;
    }
}

.list--plain {
    list-style: none;
    margin: 0;
    padding: 0;
}

////////////////////
// Visibility
////////////////////

// Hide visually and from screen readers
.hidden {
    display: none !important;
}

.hidden-sm {
    @media (min-width: $bp-sm) {
        display: none !important;
    }
}

.hidden-md {
    @media (min-width: $bp-md) {
        display: none !important;
    }
}

.hidden-lg {
    @media (min-width: $bp-lg) {
        display: none !important;
    }
}

// Hide only visually, but have it available for screen readers:
// https://a11yproject.com/posts/how-to-hide-content/
.visually-hidden:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

////////////////////
// Spacing
////////////////////

.m-0 {
    margin: 0 !important;
}

////////////////////
// Logo
////////////////////

.logo {
    vertical-align: middle;
    width: 100%;
    max-width: rem-calc(130px);
}

// Dark version of logo
.logo.dark {
    .logo__icon { fill: $seafoam-light; }
    .logo__wordmark { fill: $white; }
    .logo__subhead { fill: rgba($white, .70) }
}

////////////////////
// Icons
////////////////////

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: text-bottom;
}
