////////////////////
// Action List
////////////////////

.action-list {
    @extend .list--plain;
}

////////////////////
// Action Cell
////////////////////

.action-cell {
    padding: rem-calc(10px 0);
    border-top: 1px solid $border-color;

    &:last-of-type {
        border-bottom: 1px solid $border-color;
    }

    @media (min-width: $bp-md) {
        display: flex;
        align-items: center;
        padding: rem-calc(12px 0);
    }
}

.action-cell__body {
    position: relative;
    flex: 1;
    min-width: 0; // needed for text truncation

    @media (min-width: $bp-md) {
        padding-right: 1em;
    }
}

.action-cell__link {
    @extend .link-text-color;
}
