////////////////////
// Variables
////////////////////

$card-padding-sm: rem-calc(15px);
$card-padding-lg: rem-calc(20px);

////////////////////
// Card Grid
////////////////////

.card-grid {
    display: grid;
    grid-gap: $card-padding-sm;
    grid-template-columns: 1fr;
    @extend .list--plain;

    @media (min-width: $bp-sm) {
        grid-gap: $card-padding-lg;
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $bp-lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

////////////////////
// Card
////////////////////

.card {
    position: relative;
    border: 1px solid $slate-300;
    @extend .rounded;
    transition: all .2s ease;
    transition-property: border-color, box-shadow;

    &:hover,
    &:focus {
        border-color: var(--theme-border-color);
        box-shadow: 10px 10px 0 $slate-200;
    }
}

.card__header,
.card__body {
    padding: $card-padding-sm;

    @media (min-width: $bp-md) {
        padding: $card-padding-sm;
    }
}

.card__body {
    border-color: var(--theme-border-color);
}

.card__header {
    margin: -1px; // offset card border
    background-color: var(--theme-primary-color);
    border: 1px solid var(--theme-border-color);
    @extend .rounded-top;

    @media (min-width: $bp-lg) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 6.7em; // accommodate two lines titles while being equal height
    }
}

.card__header,
.card__header-link {
    color: var(--theme-text-color);
}

.card__external-indicator {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 1.75em;
    text-align: center;
    background-color: var(--theme-secondary-color);
    border-radius: 0 $border-radius 0 $border-radius;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease;
}

.card:hover .card__external-indicator {
    visibility: visible;
    opacity: 1;
}

.card__header-title {
    margin-bottom: .1em;
    font-size: rem-calc(18px);
    line-height: 1.2;

    @media (min-width: $bp-lg) {
        font-size: rem-calc(22px);
    }
}

.card__header-list .svg-icon {
    margin-right: rem-calc(4px);
    opacity: .6;
}
