////////////////////
// Variables
////////////////////

$card-padding-sm: rem-calc(15px);
$card-padding-lg: rem-calc(20px);

////////////////////
// Card Grid
////////////////////

.card-grid {
    display: grid;
    grid-gap: $card-padding-sm;
    grid-template-columns: 1fr;
    margin-bottom: rem-calc(50px);
    @extend .list--plain;

    @media (min-width: $bp-sm) {
        grid-gap: $card-padding-lg;
        grid-template-columns: 1fr 1fr;
        margin-bottom: rem-calc(75px);
    }

    @media (min-width: $bp-lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

////////////////////
// Card
////////////////////

.card {
    position: relative;
    border: 1px solid $slate-300;
    overflow: hidden;
    @extend .rounded;
    transition: all .2s ease;
    transition-property: border-color, box-shadow;

    &:hover,
    &:focus {
        border-color: var(--theme-border-color);
        box-shadow: 10px 10px 0 $slate-200;
    }
}

.card__header,
.card__body {
    padding: $card-padding-sm;

    @media (min-width: $bp-md) {
        padding: $card-padding-sm;
    }
}

.card__header {
    width: 100%;
    background-color: var(--theme-primary-color);
    border-bottom: 1px solid $slate-300;
}

.card__header,
.card__header-link {
    color: var(--theme-text-color);
}

.card__header-title {
    padding-top: 1em;
    font-size: rem-calc(18px);

    @media (min-width: $bp-md) {
        font-size: rem-calc(22px);
    }
}

.card__header .svg-icon {
    margin-right: rem-calc(4px);
    opacity: .6;
}
