////////////////////
// Variables
////////////////////

:root {
    --hero-margin: 60px;
    --hero-overlap: -45px;

    @media (min-width: $bp-lg) {
        --hero-margin: 100px;
        --hero-overlap: -75px;
    }
}

////////////////////
// Hero
////////////////////

.hero {
    position: relative;
    // margin-bottom: var(--hero-margin);
    padding: var(--hero-margin) 0;
    background-color: var(--theme-primary-color);
    background-image: linear-gradient(180deg, var(--theme-primary-color) 0%, var(--theme-secondary-color) 100%);
    border-bottom: 1px solid $slate-300;
    overflow: hidden;
    z-index: 2;
}

.logo-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    z-index: -1;

    path {
        stroke: var(--theme-border-color);
    }
}

.hero__header {
    color: var(--theme-text-color);
}

.hero__section-heading {
    @extend .section-heading;
    color: var(--theme-accent-color);
}

.hero__title {
    max-width: 36ch;
    font-size: rem-calc(24px);

    @media (min-width: $bp-md) {
        font-size: rem-calc(28px);
    }

    @media (min-width: $bp-lg) {
        font-size: rem-calc(34px);
    }
}

////////////////////
// Hero Image Overlap
////////////////////

.hero-overlap {
    position: relative;
    margin-top: var(--hero-overlap);
    z-index: 2;
}
