////////////////////
// Variables
////////////////////

:root {
    --hero-margin: 60px;
    --hero-overlap: -45px;
    --hero-meta-padding: 15px;

    @media (min-width: $bp-lg) {
        --hero-margin: 100px;
        --hero-overlap: -75px;
        --hero-meta-padding: 20px;
    }
}

////////////////////
// Hero
////////////////////

.hero {
    position: relative;
    padding: var(--hero-margin) 0;
    background-color: var(--theme-primary-color);
    background-image: linear-gradient(180deg, var(--theme-primary-color) 0%, var(--theme-secondary-color) 100%);
    border-bottom: 1px solid $slate-300;
    overflow: hidden;
    z-index: 2;
}

.hero .logo-texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    z-index: -1;

    path {
        stroke: var(--theme-border-color);
    }
}

.hero__header {
    color: var(--theme-text-color);
}

.hero__section-heading {
    @extend .section-heading;
    color: var(--theme-accent-color);
}

.hero__title {
    max-width: 36ch;
    font-size: rem-calc(24px);

    @media (min-width: $bp-md) {
        font-size: rem-calc(28px);
    }

    @media (min-width: $bp-lg) {
        font-size: rem-calc(34px);
    }
}

////////////////////
// Hero Image Overlap
////////////////////

.hero-overlap {
    position: relative;
    margin-top: var(--hero-overlap);
    z-index: 2;
}

////////////////////
// Hero Meta List
////////////////////

.hero__meta {
    display: inline-grid;
    grid-gap: var(--hero-meta-padding);
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "author author author"
        "published category .";
    align-items: center;
    margin: .5em 0 0 0;
    font-size: rem-calc(14px);
    @extend .list--plain;

    @media (min-width: $bp-sm) {
        font-size: rem-calc(16px);
        grid-template-areas: "author published category";
    }
}

.hero__meta-item {
    @extend .monospace;
}

// Item Borders
.hero__meta-item {

    &:last-child {
        padding-left: var(--hero-meta-padding);
        border-left: 2px solid var(--theme-border-color);
    }

    @media (min-width: $bp-sm) {
        &:not(:first-child) {
            padding-left: var(--hero-meta-padding);
            border-left: 2px solid var(--theme-border-color);
        }
    }
}

.hero__meta-item.author { grid-area: author }
.hero__meta-item.published { grid-area: published }
.hero__meta-item.category { grid-area: category }

.hero__meta-avatar {
    border-radius: 100%;
    max-width: 35px;
    margin-right: rem-calc(10px);

    @media (min-width: $bp-sm) {
        max-width: 48px;
        margin-right: rem-calc(15px);
    }
}
