////////////////////
// Icon Grid
////////////////////

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    @extend .list--plain;
}

.icon-grid__item {
    margin: rem-calc(20px) 2%;
    flex: 0 1 rem-calc(215px);

    @media (min-width: $bp-xl) {
        flex-basis: rem-calc(250px);
    }
}
