////////////////////
// Post List
////////////////////

.post-list {
    @extend .list--plain;
}

.post-list__item {
    padding: rem-calc(15px) 0;
    border-bottom: 1px solid $border-color;

    @media (min-width: $bp-md) {
        padding: rem-calc(20px 40px 20px 0);
    }
}

.post-list__heading {
    margin-bottom: rem-calc(2px);
}

.post-list__date,
.post-list__author {
    font-size: rem-calc(13px);
    line-height: 1;
    @extend .monospace;
    @extend .text-muted;

    @media (min-width: $bp-md) {
        font-size: rem-calc(14px);
    }
}

// Bullet before post date
.post-list__date::before {
    content: '';
    display: inline-block;
    margin: 0 .4em;
    width: 4px;
    height: 4px;
    background-color: $slate-300;
    border-radius: 100%;
    vertical-align: middle;
}
