////////////////////
// Variables
////////////////////

$post-bp: 1200px;

////////////////////
// Post Grid
////////////////////

.post-grid {
    @media (min-width: $bp-lg) {
        padding-right: $cp-offset-lg;
    }

    @media (min-width: $post-bp) {
        display: grid;
        grid-gap: rem-calc(20px);
        grid-template-columns: minmax(0, 200px) minmax(0, 660px);
        padding-right: 0;
    }
}
