---
layout: default
---

<!-- Featured post hero -->
{% include featured-post-hero.html %}

<!-- Featured projects -->
<section class="section-container">
    <h2 id="featured-projects" class="section-heading pb-3">Featured Projects</h2>
    {% include project-list.html limit="3" %}
    <a href="{% link projects.html %}" class="mt-4 btn btn-secondary btn-icon-right">
        All Projects
        <svg class="svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#arrow-right' | relative_url }}"></use></svg>
    </a>
</section>

<!-- Careers teaser -->
<section class="bg-slate-100 border-top">
    <div class="section-container section-split">
        <div class="section-split__item">
            <h2 id="featured-jobs" class="section-heading text-plum pb-3">We’re Hiring</h2>
            <h3 class="h2">Help us build our next project.</h3>
            <p class="body-lg text-length-md">We're on a mission to change the way the world reads. That's an ambitious task, and we need ambitious people to get us there. See what positions are available and start your next chapter today.</p>
            <a href="{% link careers.html %}#open-positions" class="mt-3 mb-3 btn btn-secondary btn-icon-right">
                All Positions
                <svg class="svg-icon"><use xlink:href="{{ '/assets/images/icons/icon-sprite.svg#arrow-right' | relative_url }}"></use></svg>
            </a>
        </div>
        <div class="section-split__item">

            <noscript>
                <div class="text-center monospace fs-md text-muted">
                    <p>We normally display jobs here with JavaScript.</p>
                    <p>We think it's cool that you have disabled JavaScript to view this page, but you might be missing out :)</p>
                </div>
            </noscript>

            <ul class="card-grid card-grid-sm" id="jobs">
            </ul>

            <script type="text/javascript">
            <!--
                /*
                 * Only attempt to load the jobs after the page has loaded and
                 * our external script is present
                 */
                window.onload = () =>{
                    // Six is about the right number of cards that will fit into this spot
                    renderJobs(document.getElementById('jobs'), null, 6);
                };
            -->
            </script>

        </div>
    </div>
</section>
