---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

    <!-- Post hero -->
    {% include post-hero.html %}

    <div class="section-container" itemprop="articleBody">

        <!-- Post sidebar -->
        {% include post-sidebar.html %}

        <div class="text-length-lg">

            <!-- Post content  -->
            <div class="post-content">
                {{ content }}
                <!-- Post separator line -->
                <hr>
            </div>

            <!-- Related jobs -->
            {% include related-jobs.html %}
        </div>
    </div>

</article>
