---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>

        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ page.date | date: date_format }}
            </time>

            {%- if page.author -%}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">
                    {%- if site.data.authors[page.author] -%}
                        {{ site.data.authors[page.author].name}}
                    {%- else -%}
                        {{ page.author }}
                    {%- endif -%}
                </span>
            </span>
            {%- endif -%}
        </p>
    </header>

    <ul class="card-grid card-grid-sm" id="jobs">
    </ul>

    <div itemprop="articleBody">
        {{ content }}
    </div>

    <a href="{{ page.url | relative_url }}" hidden></a>
</article>

{%- if page.team and site.data.teams[page.team] -%}
<script type="text/javascript">
<!--
    window.onload = () =>{
        renderJobs(document.getElementById('jobs'), "{{ site.data.teams[page.team].lever }}", 3);
    };
-->
</script>
{%- endif -%}
